@charset "UTF-8";
/* Vars */
/***Mapa***/
/***Mixin***/
/***Estilos generales ***/
body {
  background-color: rgb(238, 238, 238);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: rgb(253, 97, 26);
}

nav {
  background-color: rgb(253, 97, 26);
}

.producto-nav {
  background-color: rgb(253, 97, 26);
}

.nav-link {
  font-size: 24px;
}

ul {
  list-style-type: none;
  font-size: 24px;
  text-transform: uppercase;
}
ul li {
  display: inline;
}

.link-formu {
  font-size: 16px;
}

a {
  color: #000000;
}

h2 {
  color: #000000;
}

.nav-link {
  color: #000000;
}

.link-formu:hover {
  color: white;
}

.nav-link:hover {
  color: white;
}

.aside-textos {
  text-decoration: none;
}
.aside-textos:hover {
  color: rgb(253, 97, 26);
}

header {
  padding: 5px;
  margin: 0px;
}

nav ul a {
  padding: 30px;
}

.cir, .telegrama {
  border-radius: 50px;
}

/***Redes ***/
.facebook {
  background-color: rgb(3, 81, 189);
}

.whatsapp {
  background-color: rgb(1, 209, 149);
}

.istagram {
  background-color: rgb(237, 83, 107);
}

.twitter {
  background-color: rgb(0, 221, 229);
}

/***Aqui aplicamos extend ***/
.telegrama {
  background-color: rgb(0, 221, 229);
}

/***Botones generales ***/
.animacionboton input {
  text-decoration: none;
  color: white;
}

.animacionboton {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 200px;
  height: 30px;
  background: #000000;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.animacionboton span {
  position: relative;
  transition: 0.3s ease all;
  z-index: 2;
}

.animacionboton::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 190px;
  transform-origin: center;
}

.animacionboton:hover::after {
  transform: scale(100);
  background: rgb(253, 97, 26);
}

.animacionboton:hover {
  background: rgb(168, 64, 17);
}

/**** Botones de productos ****/
.animacionbotonpro {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 200px;
  height: 30px;
  background: #000000;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.animacionbotonpro span {
  position: relative;
  transition: 0.3s ease all;
  z-index: 2;
}

.animacionbotonpro span {
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 23%;
}

.animacionbotonpro .iconopro {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.animacionbotonpro svg {
  color: white;
  width: 35px;
  height: 35px;
}

.animacionbotonpro:hover {
  background: rgb(253, 97, 26);
}

.animacionbotonpro:hover .iconopro {
  left: calc(100% - 50px);
  opacity: 1;
}

.animacionbotonpro:hover span {
  left: 20px;
}

/**** Botones de formulario ****/
.animacionbotonfor {
  width: 200px;
  height: 30px;
  background: #000000;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.animacionbotonfor span {
  position: relative;
  transition: 0.3s ease all;
  z-index: 2;
}

.animacionbotonfor::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.3s ease-in-out all;
  border-radius: 190px;
  transform-origin: center;
}

.animacionbotonfor:hover::after {
  transform: scale(100);
  background: rgb(253, 97, 26);
}

.animacionbotonfor:hover {
  background: rgb(168, 64, 17);
}

/***index***/
.index-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/***imput engeneral***/
.inicio-input-group {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/***Productos***/
.menulateral {
  font-size: 16px;
  text-transform: none;
}

/***ayuda celdas***/
#accordionExample {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.ayudaxd {
  width: auto;
  right: auto;
  margin: 10px 50px 10px 50px;
}

/***formulario***/
.postularme {
  background-color: white;
  border-radius: 15px;
}

.postularmemas {
  width: 100%;
  margin: 0;
  padding: 0px;
  border-radius: 15px;
}

/***sesion***/
.sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

/***Producto diseño grid***/
.producto-header {
  grid-area: producto-header;
  justify-content: space-between;
}

.producto-footer {
  grid-area: producto-footer;
  justify-content: center;
}

.producto-nav {
  grid-area: producto-nav;
}

.producto-aside {
  grid-area: producto-aside;
}

.producto-section {
  grid-area: producto-section;
}

.producto-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.producto-main {
  display: grid;
}

/***Ayuda diseño***/
.ayuda-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/***Marca diseño grid***/
.marca-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/***Sesion area***/
.sesion-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/***Formulario area***/
.formu-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 320px) {
  /***Media Producto***/
  .producto-main {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
    grid-template-areas: "producto-header" "producto-nav" "producto-section" "producto-footer";
  }

  .producto-section {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
  }

  .producto-aside {
    display: none;
  }

  /***Media ayuda***/
  #menuBurgerayuda {
    margin-left: 10px;
  }

  /***Media formulario***/
  .formu-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .postularme {
    width: 100%;
    right: 50%;
    padding: 30px;
    margin: 20px;
  }

  .postularmemas {
    text-align: center;
  }

  /***Media Marca ***/
  /***Media sesion***/
  h2 {
    font-size: 16px;
  }
  h2 a {
    font-size: 16px;
  }

  .sesion {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }

  .nav-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    white-space: 16px;
  }

  .formu-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .postularme {
    width: 60%;
  }

  .postularmemas {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  /***Media Index***/
  /***Media producto***/
  .producto-main {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
    grid-template-areas: "producto-header producto-header" "producto-nav producto-nav" "producto-aside producto-section" "producto-footer producto-footer";
  }

  .producto-section {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    -moz-column-gap: 15px;
         column-gap: 15px;
    row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
  }

  .producto-aside {
    display: block;
  }

  /***Media ayuda***/
  /***Media formulario***/
  /***Media MARCA***/
  /***Media sesion***/
  h2 {
    font-size: 24px;
  }
  h2 a {
    font-size: 24px;
  }

  .nav-link {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */